@use '@/css/variables' as *;
@use '@/css/mixins' as *;

.Footer {
  padding: 0  0 50px 0;
  margin-top: auto;
  background: $darkBlue;
}

.Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  color: $white;
}

.Logo {
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
}

.Right {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}