@use '@/css/variables' as *;
@use '@/css/mixins' as *;

.User {

}

.Top {

}

.Greeting {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: $grey;
}

.Content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.Block {
  background: white;
  padding: 20px;
  border-radius: 18px;

  &.Empty {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.Head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: $grey;
}

.Line {
  font-size: 16px;
  line-height: 22px;
  margin-top: 8px;

  span {
    width: 80px;
    display: inline-block;
  }
}