@use '@/css/variables' as *;
@use '@/css/mixins' as *;

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  background-color: #fff;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 20;
  left: 0;
  transition: 0.25s;

  .Left {
    display: flex;
    align-items: center;
    justify-content: center;

    .BurgerContainer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-right: 40px;

      .BurgerItems {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 14px;
        cursor: pointer;

        .Line {
          width: 32px;
          height: 2px;
          background-color: #5194F0;
          margin-bottom: 4px;
          transition: all .25s ease;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .Burger {
        padding-left: 10px;
        position: relative;
        cursor: pointer;
        transition: all .25s ease;
        color: #111;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &:hover {
        .BurgerItems {
          .Line {
            &:first-child {
              transform: translateY(-2px);
            }

            &:last-child {
              transform: translateY(2px);
            }
          }
        }
      }
    }
  }

  .Middle {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      list-style: none;

      li {

        a {
          text-decoration: none;
          color: #111;
          font-weight: 700;
          transition: $transition;

          @include noTouch {
            color: #2F80ED;
          }
        }
      }
    }
  }

  .Right {
    display: flex;
    align-items: center;
    justify-content: center;

    .Link {
      @include to-top-hover;
      cursor: pointer;

      a {
        font-weight: 700;
      }

      &:first-child {
        margin-right: 40px;
        width: 106px;
        height: 14px;
      }

      &:last-child {
        margin-right: 0;
        width: 135px;
        height: 14px;
      }
    }

    .Link:first-of-type {
      font-size: 14px;
      line-height: 14px;
      color: #111;
    }

    .Link:last-of-type {
      color: #2F80ED;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}