
$transition: all .25s ease;
$black: #111;
$white: #fff;
$grey: #000000a3;
$greyLight: #929191a3;
$accent: #d7a739;
$h2: 30px;
$h1: 50px;
$blueLight: #70A2FF;
$blueSuperLight: #bed5ff;
$blue: #2F80ED;
$darkBlue: #252931;
$lightBg: #fff;
$darkBg: #292a2d;