@use '@/css/variables' as *;

.Intro {
  padding: 50px;
}

.Head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PageCount {
  margin-top: 10px;

  span {
    font-weight: 600;
    text-decoration: underline;
  }
}

.Buttons {

}

.Search {

}