@use '@/app/css/variables' as *;
@use '@/app/css/mixins' as *;

.Sidebar {
  width: 250px;
}

.Person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.Photo {
  width: 64px;
  height: 64px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

.Info {

}

.Name {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.Role {
  margin-top: 5px;
}

.Links {
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $greyLight;
}

.Payment {
  margin-top: 20px;
}
