@use '@/css/variables' as *;

.Items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.Item {
  padding: 10px;
  border: 1px solid navajowhite;
  width: auto;
  border-radius: 10px;

  img {
    display: block;
    margin: 20px auto 0;
  }
}

.Failed {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 50px;
}

.Title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.Sub {
  margin-top: 5px;
  font-size: 20px;
  line-height: 26px;
}

.Image {
  margin-top: 20px;
}

.Loading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 58px;
}