@use '@/css/variables' as *;
@use '@/css/mixins' as *;

.Wrapper {
  position: fixed;
  z-index: 1005;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: all .25s ease;

  .Close {
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;
    transition: all .25s ease;
    z-index: 100;
    width: 26px;
    height: 26px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
